<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="gotosearch()">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
      <a href="/" class="navbar-brand">求书单</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <form class="navbar-form navbar-right" role="search" style="margin-top: 8px">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-click="gotosearch()">
        </div>
        <button type="button" class="btn nav-button btn-sm" ng-click="logout()" ng-show="isLoggedIn()">
          logout
        </button>
      </form>

    </div>
  </div>
</div>
